# 1. 数据导入、查看

In [3]:
import pandas as pd
import numpy as np

In [8]:
path = '../datasets/ml-1m/ratings.dat'
dformat = ['user', 'item', 'rating', 'time']

In [6]:
import os

In [9]:
os.path.exists(path)

True

In [10]:
rating = pd.read_csv(path, sep='::', header=None, names=dformat)

<ipython-input-10-bac3310f221a>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  rating = pd.read_csv(path, sep='::', header=None, names=dformat)

In [11]:
rating.head()

   user  item  rating       time
0     1  1193       5  978300760
1     1   661       3  978302109
2     1   914       3  978301968
3     1  3408       4  978300275
4     1  2355       5  978824291

In [12]:
rating.shape

(1000209, 4)

In [14]:
pd.value_counts(rating['rating'])

4    348971
3    261197
5    226310
2    107557
1     56174
Name: rating, dtype: int64

In [17]:
print('max-num user:', np.max(rating['user']))
print('max-num movie:', np.max(rating['item']))

max-num user: 6040
max-num movie: 3952

# 2. 数据集切分

由于数据中有时间项，按照时间项进行数据排序，然后再根据分位置进行切分

In [19]:
rating.sort_values(by='time', inplace=True)
rating.head() # 已经按时间进行排序

In [20]:
rating.head()

         user  item  rating       time
1000138  6040   858       4  956703932
1000153  6040  2384       4  956703954
999873   6040   593       5  956703954
1000007  6040  1961       4  956703977
1000192  6040  2019       5  956703977

In [29]:
pivot = rating['time'].quantile(0.9)
train = rating[rating['time'] < pivot]
test = rating[rating['time'] >= pivot]

In [31]:
train.shape, test.shape

((900188, 4), (100021, 4))